{% extends "portal/base.html" %}
{% block content %}
<div class="container mt-4">
    <section class="osnova-section p-5 mb-5 rounded-4 d-flex justify-content-between align-items-center">
        <div class="osnova-text">
            <h1 class="display-4 fw-bold mb-3">
                Твой путь в <br ><span class="accent-text">криптографии</span> начинается здесь
            </h1>
            <p class="fs-5 mb-4">
                Скоро...
            </p>
            <a href="{% url 'theory' %}" class="btn-primary">Начать обучение</a>
        </div>
    </section>

    <section class="learning-section mb-5">
        <h2 class="text-center mb-5 fw-bold">Возможности портала</h2>
        <div class="row g-4">
            <div class="col-md-4">
                <div class="feature-card h-100">
                    <div>
                        <h3>База знаний</h3>
                        <p>Скоро...</p>
                    </div>
                    <a href="{% url 'theory' %}" class="btn-primary w-100 mt-3">В теорию</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-card h-100">
                    <div>
                        <h3>Практика</h3>
                        <p>Скоро...</p>
                    </div>
                    <a href="{% url 'practice' %}" class="btn-primary w-100 mt-3">К задачам</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature-card h-100">
                    <div>
                        <h3>Инструменты</h3>
                        <p>Скоро...</p>
                    </div>
                    <a href="{% url 'tools' %}" class="btn-primary w-100 mt-3">Открыть</a>
                </div>
            </div>
        </div>
    </section>

    <section class="sandbox-section p-5 rounded-4 text-center border border-dashed">
        <div style="max-width: 800px; margin: 0 auto;">
            <h3 class="h4 mb-3">О проекте</h3>
            <p class="fs-5 mb-0">
                Этот портал разработан <strong>Никитой Карташовым</strong> и <strong>Евгением Титовым</strong>. Наша цель – создать среду для студентов ИТ-специальностей, где сложные алгоритмы становятся понятными.
            </p>
        </div>
    </section>
</div>
{% endblock %}